* { margin: 0; }

body {
    font-family: Gotham SSm A,Gotham SSm B,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Arial,sans-seri;
    background-color: #222;
    color: #fff;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: #000;
    transition: 1s;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Header */
header {
    background-color: #4e5deb;
    padding: 15px;
    display: grid;
}

header h1 { margin-left: 2em; }

#menubar {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menubar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

#menubar li {
    margin-right: 2em;
    font-size: 24px;
}

input[type="checkbox"] { display: none; }

/* Responsive part of header */
@media screen and (max-width: 750px) {
    header {
        position: fixed;
        padding: 10px;
        text-align: center;
        z-index: 999;
        width: 100%;
    }

    header h1 {
        margin-left: 0;
    }

    .menubar-toggle {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .menubar-toggle-label {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 2em;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .menubar-toggle-label span,
    .menubar-toggle-label span::before,
    .menubar-toggle-label span::after {
        display: block;
        background: #ffffff;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    .menubar-toggle-label span::before,
    .menubar-toggle-label span::after {
        content: '';
        position: absolute;
    }

    .menubar-toggle-label span::before {
        bottom: 7px;
    }

    .menubar-toggle-label span::after {
        top: 7px;
    }

    #menubar {
        position: absolute;
        text-align: left;
        top: 120%;
        right: 1em;
        margin-right: 1em;
        background: #222224;
        width: 16em;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
        border-radius: 20px;
        opacity: 0.9;
        display: unset;
    }

    #menubar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: unset;
    }

    #menubar li {
        margin: 2em;
    }

    #menubar a {
        color: #fff;
        text-decoration: none;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    #menubar a:hover {
        color: #000;
    }

    .menubar-toggle:checked ~ #menubar {
        transform: scale(1, 1);
    }

    .menubar-toggle:checked ~ #menubar a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

    #content, #modscontent, #modcontent { padding-top: 4em; }
}

/* Content */
#content, #modscontent {
    display: flex;
    flex-wrap: wrap;
}

#content article, #modscontent a {
    background-color: #333;
    border-radius: 15px;
    width: 48%;
    margin: 0.5%;
    padding: 0.5%;
}

@media screen and (max-width: 650px) {
    #content article {
        width: 98%;
        margin: 1%;
        padding: 1%;
    }
}

/* Mods page */
#modscontent a article {
    display: flex;
}

#modscontent a:hover {
    background-color: #6774ea;
}

#modscontent a:hover .modloader,
#modscontent a:hover .modversion {
    background-color: #ffffff;
}

.modlogo {
    max-width: 128px;
    margin: 1%;
}

.modtext {
    margin: 1%;
}

.modloader, .modversion {
    display: inline-block;
    margin-top: 5px;
    padding: 7px;
    border-radius: 10px;
    background-color: #222224;
    font-weight: bold;
    font-size: 90%;
}

@media screen and (max-width: 950px) {
    #modscontent a article { display: unset; }
}

@media screen and (max-width: 750px) {
    #modscontent a article { display: flex }

    #modscontent a {
        width: 98%;
        margin: 1%;
        padding: 1%;
    }
}

@media screen and (max-width: 400px) {
    #modscontent a article { display: unset; }
}

/* Mod pages related */
#modheader {
    background-color: #333;
    border-radius: 15px;
    padding: 8px;
    margin: 1%;
}

#modmenu {
    background-color: #4e5deb;
}

#modmenu p {
    display: inline-block;
    font-size: 20px;
    padding: 15px;
}

@media screen and (max-width: 550px) {
    #modmenu p { display: revert; }
}

.modpageinfo {
    background-color: #333;
    border-radius: 15px;
    padding: 8px;
    margin: 1%;
}

.versions { display: flex; flex-wrap: wrap; }

.forgeversions {
    margin: 10px;
}

.fabricversions {
    margin: 10px;
}

.button {
    display: block;
    text-align: center;
    background-color: #222;
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
    font-weight: bold;
}

.button:hover {
    background-color: #545454;
    color: #222;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
}
